/*
 * Colour Palette
 
 Ice Blue   #f4f7f9
 Tile Grey  #ecf1f3
 Dark Blue  #002664

 */



/* 
  * Typography
  */

h2 {
    font-family: 'Gotham', 'Arial', sans-serif;
}

h2.au-header__heading {
    font-weight: 600;
}

/*
  * Global
  */

body {
    font-family: 'Gotham', 'Arial', sans-serif;
    color: black;
}

.au-body {
    background: #f4f7f9;
    min-height: 600px;
    text-align: center;
}

.au-body img.icon {
    height: 5rem;
    margin-top: 3rem;
    padding: 2rem;
}

.margin-center {
    float: center !important; 
    margin-left: 0 auto !important;
}

.margin-offset {
    margin-left: 150px;
}


/* 
 * Footer
 */

 .au-body.au-footer.au-footer--dark {
     min-height: 117px;
 }

/*
 * Buttons
 */

.bottom-btn {
    margin-bottom: 5rem;
}

/*
 * Forms 
 */

.form-spacing {
    margin-bottom: 5rem;
    margin-top: 3rem;
}

.au-control-input {
    margin-top: 1rem;
}

/*
 * Checkboxes
 */

.checkbox {
    margin-top: 10rem;
} 


/*
 * Postcode
 */

 .postcode-spacing {
    margin-bottom: 5rem;
    margin-top: 3rem;
    text-align: center;
 }

.birthdate-spacing {
    margin-bottom: 5rem;
    text-align: center;
}


/*
 * Cards
 */

.result-card {
    border: 1.5px solid #002664;
    border-radius: 5px;
    margin-bottom: 4rem;
    margin-top: 3rem;
    max-height: 15rem;
    padding: 10px;
    padding-bottom: 3rem;
    width: 18rem;
} 

.card {
    border: 1.5px solid #002664;
    border-radius: 5px;
    margin-bottom: 10rem;
    margin-top: 3rem;
    max-height: 15rem;
    padding: 10px;
    padding-bottom: 3rem;
    width: 18rem;
}

.card-text {
    min-height: 4rem;
}