/*
 * Colour Palette
 
 Ice Blue   #f4f7f9
 Tile Grey  #ecf1f3
 Dark Blue  #002664

 
 
 */



/* 
  * Typography
  */

h2 {
    font-family: 'Gotham', 'Arial', sans-serif;
}


/*
  * Global
  */

body {
    font-family: 'Gotham', 'Arial', sans-serif;
    color: black;
}

.au-body {
    background: #f4f7f9;
    min-height: 540px;
    text-align: center;
}

h2.au-header__heading {
    font-weight: 600;
}

.au-body img.icon {
    height: 5rem;
    padding: 2rem;
}

.bottom-btn {
    margin-bottom: 5rem;
}

/*
 * Forms 
 */

.form-spacing {
    margin-bottom: 5rem;
    margin-top: 3rem;
}

.au-control-input {
    margin-top: 1rem;
}

/*
 * Cards
 */

.card {
    border: 1px solid #002664;
    border-radius: 5px;
} 
